<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Labook! • Login</title>
    <link rel="stylesheet" href="../stylesheets/styleslogin.css">
    <link rel="icon" href="../images/labook.png" type="image/x-icon"> 
    <script src="https://kit.fontawesome.com/2a911b9725.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Login</h1>
            <form>
                <div class="input-group">
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Username" id="username">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password" id="password">
                    </div>

                    <p>Forgot Password? <a href="changePassword.html">Click Here!</a></p>
                </div>

                <div class="error-messages" id="error-messages"></div>

                <div class="btn-field">
                    <button type="button" id="login-button">Login</button> 
                    <button type="button"><a href="index.html">Back</a></button>
                </div>
            </form>
        </div>
    </div>
    <script src="../controller/login.js"></script>
</body>
</html>
